<div class="mx-auto md:w-2/3 w-full">
  <h1 class="font-bold text-4xl">Editing occupation master</h1>

  <%= render "form", occupation_master: @occupation_master %>

  <%= link_to "Show this occupation master", @occupation_master, class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
  <%= link_to "Back to occupation masters", occupation_masters_path, class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
</div>
