<div class="mx-auto md:w-2/3 w-full">
  <h1 class="font-bold text-4xl">Editing visit route master</h1>

  <%= render "form", visit_route_master: @visit_route_master %>

  <%= link_to "Show this visit route master", @visit_route_master, class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
  <%= link_to "Back to visit route masters", visit_route_masters_path, class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
</div>
