<div class="w-full mt-20">
  <% if notice.present? %>
    <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
  <% end %>

  <div class="flex justify-between items-center">
    <h1 class="font-bold text-4xl">Visit route masters</h1>
    <%= link_to 'New visit route master', new_visit_route_master_path, class: "rounded-lg py-3 px-5 bg-blue-600 text-white block font-medium" %>
  </div>

  <div id="visit_route_masters" class="min-w-full">
    <%= render @visit_route_masters %>
  </div>
</div>
