<div class="mx-auto mt-20 ">
  <h1 class="font-bold text-4xl">Editing dentist aggregation</h1>

  <%= render "form", dentist_aggregation: @dentist_aggregation %>

  <%= link_to "Show this dentist aggregation", @dentist_aggregation, class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
  <%= link_to "Back to dentist aggregations", dentist_aggregations_path, class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
</div>
