<main class="flex-1 pb-8">
    <div class="max-w-full mx-auto mt-20 px-4 text-lg leading-6 font-medium text-gray-900 sm:px-6 lg:px-8 mr-8">
        <div class="flex flex-col">
            <div class="border px-5 py-5">
            <%= line_chart [
                {
                    name: "保険収益", type: "column",color: "blue", data: @dentist_aggregations.group_by_month(:created_at).sum(:miscellaneous_income) # Insurance Amount
                    },
                    {
                        name: "自費收入", type: "column",color: "orange", data: @dentist_aggregations.group_by_month(:created_at).sum(:own_expense_amount_money) # Self Paid Income
                    },
                    {
                        name: "保険人数", type: "line",color: "#ffcc00", data: @dentist_aggregations.group_by_month(:created_at).sum(:insurance_peoples) # Number of people insured
                    },
                    {
                        name: "白費人数", type: "line",color: "gray", data: @dentist_aggregations.group_by_month(:created_at).sum(:own_expense_people) # Self pay people
                    }
                ],
                adapter: "highcharts"
            %>
            </div>
        </div>
    </div>
</main>