<div class="mx-auto mt-2 shadow p-5">
  <span class="remove-popup absolute top-0 right-0 px-4 py-3">
        <svg class="remove-popup fill-current h-6 w-6 text-red-500 nav_custom_class" role="button" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><title>Close</title><path d="M14.348 14.849a1.2 1.2 0 0 1-1.697 0L10 11.819l-2.651 3.029a1.2 1.2 0 1 1-1.697-1.697l2.758-3.15-2.759-3.152a1.2 1.2 0 1 1 1.697-1.697L10 8.183l2.651-3.031a1.2 1.2 0 1 1 1.697 1.697l-2.758 3.152 2.758 3.15a1.2 1.2 0 0 1 0 1.698z"/></svg>
  </span>
  <h1 class="font-bold text-4xl"><%= t("newstaffinfo.Editing Staff Info") %></h1><br>

  <%= render "form", staff_info: @staff_info %>
  <div class="confirm-alert">
    <div id="dialog-confirms" title="警告！">
    <p><span class="ui-icon ui-icon-alert" style="float:left; margin:12px 12px 20px 0;"></span>保存されていない項目があります。<br>ウィンドウを閉じていいですか？</p>
    </div>
  </div>
  <!--
  <%= link_to t("newstaffinfo.Show"), @staff_info, class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
  <%= link_to t("newstaffinfo.Back to Staff Info"), staff_infos_path, class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
  -->
</div>

<script>
  // $(".remove-popup").click(() => {
  //   $('#edit_popup').removeClass("showPopUp");
  // })
</script>

<script>
// Alert Confirmaton Hide?
  $(".confirm-alert").hide();  
</script>

<script>
// Alert Popup
  var show_alert=false
  var input = document.querySelector('#sform')
    input.addEventListener('change', () => {
        show_alert=true
    })
    $('.nav_custom_class').click(function(){
      if(show_alert)
      {
        var url=$(this).closest("a").attr('href')
        if (url == undefined) {
          url = "/staff_infos"
        }
        myFunction(url);
        event.preventDefault();
       
      }
      else {
        $(".remove-popup").click(() => {
          $('#edit_popup').removeClass("showPopUp");
        })
      }
      
    })
    
</script>

<script>
    
  function myFunction(url) {
    $( "#dialog-confirms" ).dialog({
      resizable: false,
      height: "auto",
      width: 400,
      modal: true,
      buttons: {
        "はい": function() {
            window.location.replace(url)
            $( this ).dialog( "close" );
        //   location.reload();
          return false
        },
        いいえ: function() {
          $( this ).dialog( "close" );
        }
      }
    });
  };
  
</script>
