<div class="mx-auto mt-20 w-full">
  <h1 class="font-bold text-4xl"><%= t("newstaffinfo.New Staff Info") %></h1><br>

  <%= render "form", staff_info: @staff_info %>

  <%= link_to t("newstaffinfo.Back to Staff Info"), staff_infos_path, class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
</div>
