<footer class="shadow-md relative z-10 flex-shrink-0  h-16 bg-black lg:border-b border-gray-200 lg:border-none w-full">
 
  <div class="text-center p-5 bg-black-200">
    <span class="text-white">-All right reserved</span>
  </div>
</footer>