<div class="mx-auto mt-20">
  <h1 class="font-bold text-4xl"><%= t("dentist.Edit Dentist") %></h1>
    <%= render 'form', dentist: @dentist %>
  <%= link_to t("dentist.Back to Dentists"), dentists_path, class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
</div>